body
{
   margin: 0;
   padding: 0;
   
}

.articles h1
{  
   font-size: 6vw;
   margin-top: 30px;
   margin-bottom: 5%;
   padding-top: 90px;
   color: rgb(67, 67, 67); 
   text-align: center;
   text-transform: uppercase;
}
p
{
   text-align:justify ;
   
}

.imgbox 
{
   height: 40%;
   width: 40%;
   position:sticky;
   top: 10%;
   right: 2%;
} 
 
.imgbox2 
{
   height: 40%;
   width: 40%;
   position:sticky;
   top: 10%;
   left: 64%;
   
} 

.articlebox
{
   margin-top: -22.5%;
   margin-left: 34%;
   margin-right: 5%;
   width: 60%;
}

.articlebox p
{
   margin-left: 3%;
}

.articlebox2 p
{
   margin-right: 3%;
}

.articlebox2
{
   margin-top: -22.5%;
   margin-left: 0%;
   margin-right: 34%;
   width: 60%;
}

.h2right
{
   margin-left: 82%;
   font-size: 4vw;
   text-transform: uppercase;
}

.h2left
{
   font-size: 4vw;
   text-transform: uppercase;
}

.imgleft
{
   width: 84%;
   height: 70%;
   
   
}
section
{
   width: auto;
   margin-left: 5%;
 
}
.imgright
{
   width: 84%;
   height: 70%;
  
   
}

html
{
   scroll-behavior: smooth;
   font-family: 'Josefin Sans', sans-serif;
   
}

.hero-section
{
   width: 110%;
   margin-left: 0;
}

.abdu
{
   margin-right: 10%;
}

#spain
{
   margin-top: 15%;
  
}
