
/*    SECTION   */


h1 {
    text-align: center;
    font-size: 5vw;
    font-family: 'Pacifico', cursive;
    color: rgb(67, 67,67);
    padding-top: 90px;
    padding-bottom: 2%;
    margin-top: 31px;
}

h3 {
    padding-bottom: 15px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    text-align: center;
}

p{
    text-align: justify;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    color: black;
}

hr {
    background-color: white;
    padding-bottom: 1px;
    margin-top: 10px;
    width: 80%;
    border: 0;
    height: 1px;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

  /*SECTION 1 */

.row{
    justify-content: center;
}

.grid {
    column-count: 3;
    column-width: 33%; 
    justify-content: center;

}
 
@media (max-width: 450px) {
    .gallery {
    column-count: 1;
    column-width: 100%;
    justify-content: center;
    }
    }
    
    .boat{
        width: 400px;
        height: 215px;
        padding-bottom: 1%;
        width: 100%;
        opacity: 0.9;
        }
      .chickenpicture{
        width: 400px;
        height: 215px;
        width: 100%;
      }
      .Landscape{
        width: 400px;
        height: 215px;
        width: 100%;
      }
      
      .usabridge{
        width: 400px;
        height: 215px;
        width: 100%;
        padding-bottom: 1%;
        width: 100%;
      }
      
      .indiapicture{
        width: 400px;
        height: 215px;
        width: 100%;
      }
      .abdupicture{
        width: 400px;
        height: 430px;
        padding-bottom: 1%;
        margin-top: 0.5%;
        width: 100%;
      }
    
      .temple{
        width: 400px;
        height: 215px;
        padding-bottom: 1%;
        width: 100%;
        opacity: 0.8;
      }
      
      .bord{
        width: 400px;
        height: 215px;
        width: 100%;
        opacity: 0.8;
      }

 /*SECTION 2 */
.section2{
     padding-bottom: 2%;
 }
.section2 h2{
    margin-bottom: 20px;
    font-family:'Josefin Sans', bold;
    text-align: center;
 }
 .line {
    width: 50px;
    height: 2px;
    background-color: #000;
    margin: 0 auto;
  }
  
  
  .portrait-text {
    margin-top: 20px;
  }
  
  .portrait-text h3 {
    margin-bottom: 20px;
  }
  
  .portrait-text p {
    margin-bottom: 0;
    text-align: center;
  }
  
  .pitalic{
    font-style: italic;
    font-family: 'Josefin Sans';
    font-size: 19px;
  }

.abdouV2{
    position: relative;
    width: 140px;
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: -1%;
  }



 /*SECTION 3 */

 .section3 p {
    font-style: italic;
    font-family: 'Josefin Sans';
    font-size: 17px; 
 }

.text-faded{color:rgba(255,255,255,.85)}

.bg-faded{
    background-color:rgba(235, 227, 227, 0.85);
}

@media (min-width:992px){
.product-item .product-item-title{
    position:relative;
    z-index:1;
    margin-bottom:-2rem;
    padding-top: 4%;
}
.product-item .product-item-img{
    position:relative;
    z-index:0;
    max-width:60vw;
}
.product-item .product-item-description
{
    position:relative;
    z-index:1;
    margin-top:-3rem;
    max-width:50vw;
}
}

.linkbio{
    color: white;
    text-decoration: underline;
}

 /*EFFET JS */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 25px;
    font-size: 25px;
  }
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.6s, fadeout 0.5s 2.5s;
    animation: fadein 0.8s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
 /*BUTTON*/

button{
    background: rgb(202, 60, 60);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family:'Pacifico', cursive;
    font-size: 25px;
    color: white;
    border-radius: 8px;
    padding: 14px 40px;
    display: block;
    margin : auto;
    margin-top: 2%;
    margin-bottom: 4%;
}
button :hover {
    background: #ddd;
}