h1{
    color: rgb(67, 67, 67);
    font-size: 9vw;
    margin: 16px;
    padding: 16px;
    text-align: center;
}

.message{
    color: rgb(67, 67, 67);
    font-size: 3vw;
    margin: 20px;
    text-align: center;
}

div .row{
    background-image: url("https://i.goopics.net/ogYdn.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size:cover;
}
.image{
    width: 100%;
}

form {
    text-align: center;
    margin: 20px;
  }

.button{
    background-color: rgb(67, 67, 67);
    border: none;
    color: white;
    padding: 15px 32px;
}

input[type=text], textarea{
    width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 2vw;
  }
::-moz-placeholder { /* Firefox 19+ */
    font-size: 2vw;
  }
:-ms-input-placeholder { /* IE 10+ */
    font-size: 2vw;
  }
:-moz-placeholder { /* Firefox 18- */
    font-size: 2vw;
  }

body{
  margin-bottom: 10px;
}
  