@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

header{
  margin-top: 30px;
}

h1{
    color: rgb(67, 67, 67);
    font-size: 6vw;
    padding-top: 100px;
    text-align: center;
    font-family: josefin;
}

.message{
    color: rgb(67, 67, 67);
    font-size: 2vw;
    margin: 20px;
    text-align: center;
    font-family: josefin;
}

.main{
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}

.form{    
    display: none;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;

}

.image{
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
}
.divButton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.openButton{
    background-color: rgb(255, 102, 102);
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 30px;
    font-size: 2vw;
}

.openButton:hover{
    background-color:  rgb(67, 67, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    animation-play-state: paused;   
}

.button{
    background-color:  rgb(255, 102, 102);
    border: none;
    color: white;
    padding: 15px 32px;
    width: auto;
    height: auto;
    font-size: 2vw;
}


input[type=text], textarea{
    width: 100%;
    padding: 10px;
}

.divThankYou{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.thankYouMessage{

    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    background-color: rgb(255, 102, 102);
    border: none;
    border-radius: 30px;
    color: white;
    padding: 15px 32px;
    display: none;
    font-size: 2vw;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 10px;
  }
::-moz-placeholder { /* Firefox 19+ */
    font-size: 10px;
  }
:-ms-input-placeholder { /* IE 10+ */
    font-size: 10px;
  }
:-moz-placeholder { /* Firefox 18- */
    font-size: 10px;
  }

  
@media screen and (max-width: 768px) {
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 8px;
  }
::-moz-placeholder { /* Firefox 19+ */
    font-size: 8px;
  }
:-ms-input-placeholder { /* IE 10+ */
    font-size: 8px;
  }
:-moz-placeholder { /* Firefox 18- */
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  .main{
    height: 300px;
    margin-bottom: 60px;
    top: 25px;
  }

  .form{
    margin-top: 20px;
  }

  .image{
    display: none;
  }

  .message{
    display: none;
  }

  #foot {
    background-color: #000 !important;
    height: 70px;
    opacity: 0.95;
    width: 100%;

  }

  .social {

    display: flex;
    justify-content: space-around;
    left: auto;
    width: auto;

  }
}
 
 