@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

header{
  margin-top: 30px;
}

h1{
    color: rgb(67, 67, 67);
    font-size: 6vw;
    padding-top: 100px;
    text-align: center;
    font-family: pacifico;
}

.message{
    color: rgb(67, 67, 67);
    font-size: 4vw;
    margin: 20px;
    text-align: center;
}

.main{
  position: relative;
  text-align: center;
}

.form{    
    display: none;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;

}

.image{
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}
.divButton
{
  position: absolute;
  bottom: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

.button{
    background-color:  rgb(67, 67, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    width: auto;
    height: auto;
}

.openButton{
    background-color:  rgb(67, 67, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    animation: pulse 1s infinite;
    border-radius: 30px;
    width: auto;
    height: auto;
}

.openButton:hover{
    background-color:  rgb(67, 67, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    animation-play-state: paused;   
}


input[type=text], textarea{
    width: 100%;
    padding: 10px;
}

.thankYouMessage{
    width: 100%;
    height: auto;
    background-color:  rgb(67, 67, 67);
    border: none;
    color: white;
    padding: 15px 32px;
    position: absolute;
    bottom: 35%;
    display: none;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 10px;
  }
::-moz-placeholder { /* Firefox 19+ */
    font-size: 10px;
  }
:-ms-input-placeholder { /* IE 10+ */
    font-size: 10px;
  }
:-moz-placeholder { /* Firefox 18- */
    font-size: 10px;
  }
