body{
	padding: 0;
	margin: 0;
}
h1{
	font-size: 6vw;
	text-align: center;
	margin-bottom: 10%;
	color:rgb(67, 67, 67);
	margin-top:30px;
	padding-top:10%;
	font-family:'Pacifico', cursive;
}
.title{
	background-color: rgb(67, 67, 67);
	color: white;
	border-radius: 20px;
	width: 100%;
	margin-bottom: 5%;}
	
h2{
	font-size: 5vw;
	text-align: right;
	margin-bottom: 50px;
	margin-right: 15%;
	color: white
}
h3{
	margin-top: 30px;
	color: rgb(67, 67, 67);
}
p{
	font-size: 18px;
}

section{
	margin-top: 70px;
	margin-bottom: 70px;
}
.img-ronde{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	opacity: 0.6;
}
.link:link{
	color: #626262;
}
.link:hover{
	text-decoration: none;
}
 img{
	display: block;
	margin: auto;
}
.carousel-inner{
	background-color: #424242;

}

a >.img-ronde:hover{
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
  opacity: 1;
	}

@media (max-width:767px){
	h1{
		font-size: 50px;
		padding-top:20%;
	}
	h2{
		font-size: 6vw;
		margin-bottom: 20px;
	 
	}
  h3{
		margin-top:0px;
	}
	.img-ronde{
		width: 90%;
		height: 70%;
		border-radius:20px;
		opacity: 1;
	}
	a >.img-ronde:hover{
		  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1); 
	}
	a{
		pointer-events: none;
	}
}

}
@media (max-width:768px){
	.img-ronde{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	}

}
@media (hover:none),(max-width: 1024px), 
(hover:on-demand) {
  a > .img-ronde:hover { 
  	transform: none;
  }
  .img-ronde{
  	opacity: 1;
  }
}


