
body{
	padding: 0;
	margin: 0;
}
hr{
	background-color: black;
    padding-bottom: 1px;
    margin-top: 10px;
    width: 80%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
h1{
	font-size: 6vw;
	text-align: center;
	margin-bottom: 10%;
	color:white;
	margin-top:30px;
	padding-top:90px;
	font-family:'Josefin Sans', sans-serif;
}
.title{
	border-radius: 20px;
	width: 100%;
	margin-bottom: 5%;}
	
h2{
	font-size: 5vw;
	text-align: right;
	margin-bottom: 50px;
	margin-right: 15%;
	margin-top: 40px;
	color: black;
	font-family:'Josefin Sans', sans-serif;
	text-decoration: underline;

}
h3:hover{
	  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.02) !important; 
	text-decoration: underline;
}
h3{
	margin-top: 30px;
	color: black;
}
p{
	font-size: 20px;
	font-family:'Josefin Sans', sans-serif;

}

section{
	margin-top: 0px;
	margin-bottom: 70px;
}
.img-ronde{
	width: 250px;
	height: 180px;
	border-radius: 1px;
	border: solid white 2px;
	box-shadow: 10px 5px 20px  black ;

}
.link:link{
	color: #626262;
}
.link:hover{
	text-decoration: none;
}
 img{
	display: block;
	margin: auto;
	opacity: 1 !important;;
}
.modal{
	background-color: rgba(0,0,0,0.6);
}
.modal-dialog{
  max-width: 850px;
	max-height: 600px;
	margin: 60px auto;
}
.close{
	color: rgba(255,255,255);
	cursor: pointer !important;
}

a >.img-ronde:hover{
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.1); 
	}

@media (max-width:767px){ /* mobil*/
	h1{
		font-size: 50px;
		padding-top:20%;
	}
	h2{
		font-size: 30px;
		margin-bottom: 20px;
	 
	}
  h3{
		margin-top:0px;
	}
	p{
	 margin-bottom: 50px;
	}

	.img-ronde{
		width: 90% !important;;
		height: 70% !important;;
	  border: 0px;
		box-shadow: unset;
		margin: auto !important;

	}
	a >.img-ronde:hover{
		  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1); 
	}
	a{
		pointer-events: none;
	}
}

}
@media (max-width:768px){
	.img-ronde{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	}

}
@media (hover:none),(max-width: 1024px), 
(hover:on-demand) {
  a > .img-ronde:hover { 
  	transform: none;
  }
  .img-ronde{
		margin: 10px;
		width: 140px;
		height: 100px;
  }
	
}


