/* ===== NAVBAR SECTION ===== */

.navbar-brand {
    color: white;
    padding: 0 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
}

.navbar {
  margin-top: -8px;
  margin-right: -10px;
}

.nav-container{
  display: flex;
}

.navbar-nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.nav-menu {
    background: transparent;
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition: all .4s;
}

@media (min-width: 769px) {
  .nav-item {
    width: 100%;
  }
}

@media (max-width:32em) {
    .nav-menu {
        background: #000 !important;
    }
}

.nav-item {
  padding: 0 65px;
  width: 100%;
  text-shadow: 2px 4px 6px;
}

.menu-item,
.dropdown-toggle {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  color: white;
  text-transform: uppercase;
  margin-left: -30px;
}

@media (max-width: 34em) {
    .menu-item {
        padding: 10px 10px 10px;
    }
}

.navbar-nav {
  padding-right: 5rem;
  padding-left: 5rem;
  display: contents;
}

.navbar-toggler {
    cursor: pointer;
    outline: 0;
}

@keyframes stretch {
  0% {
    transform: scale(.9);
    border-radius: 100%;
  }
  100% {
    transform: scale(1.2);
  }
}

.logo {
  height: 69px;
  margin: -36px -25px -30px -42px;
  opacity: 0.70;
  border-radius: 60px 60px;
  animation-name: stretch;
  animation-duration: 2s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

.logo:hover {
  transform: scale(1.3);
  transition: 0.60s;
}

.nav-button {
  margin-left: 500px;
  height: 40px;
  background-color: currentColor;
}

.ham {
  transition: width 0.3s;
  background: #F9F8F7;    
}

.line1, .line3  {
    width: 28px;
    height: 2px;
    margin: 6px;    
    transition: 0.4s;
    
}

.change .line1 {
    transform: rotate(-45deg) translate(-3px, 2px);
}

.change .line3 {
    transform: rotate(45deg) translate(-3px, -2px);
}

.menu-item:hover {
    color: yellow;
}

.nav-link:hover {
  color: forestgreen;
  transform: scale(1.1);
  transition: 0.60s;
}

.nav-active {
    color: yellow;
}

.dropdown-menu {
  list-style: none;
  font-size: larger;
  background-color: transparent;
  border: none;
  background: linear-gradient(to right,black 17%,grey 100%);     
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  border-radius: 45px 21px 200px;
}

.dropdown-menu:hover{
  transform: scale(1.2);
  transition: 0.60s;
  background-color: black;
}
 
.caret {
  color: aliceblue;
}

.spain2,
.italia2,
.india2,
.japan2,
.usa2{
  color: white;
  font-style: oblique;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}

.spain2:hover,
.italia2:hover,
.india2:hover,
.japan2:hover,
.usa2:hover {
  text-decoration: none;
  color: forestgreen;
  transition: 0.60s;
}

.costum-navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000 !important;  
    position: fixed;
    width: 100%;
    height: 100px;
    transition: 1.8s;
    
}

/* ===== END OF NAVBAR SECTION ===== */


/* ===== HERO SECTION ===== */

.hero-section {
    background: linear-gradient(
      rgba(0, 0, 0, -1.3),
      rgba(0, 0, 0, -10.4)),    
        url('asset/blur-pile-dish-meal-food-produce-stack-breakfast-snack-dessert-cuisine-focus-chips-baked-goods-black-background-junk-food-snack-food-1123918.jpg');   
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn { 
  0% {opacity: 0;}
	100% {opacity: 1;}
	}    

.abdu {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    text-shadow: 4px 4px 16px;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-iteration-count: 5;
    animation-timing-function: ease-out;
}


.nav-bottom {
    background: transparent !important;
    padding: 30px;
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.item-bottom {
    padding: 0 20px;
    transition: .2s;
    font-size: 20px;
}

.item-bottom:hover {
    background: transparent;
    transform: translateY(-2px);
}

/* ===== END OF HERO SECTION ===== */

#foot{
  background-color: #000 !important;
  height: 60px;
  opacity: 0.95;
  width: 100%;
  z-index: 1;
}

.acac{
  display: inline-flex;
  font-size: 15px;
  justify-content: space-evenly;
  list-style-type: none;
  width: 50%;
}

.leftfooter{
  color: white;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.leftfooter:hover{
  color: forestgreen;
  text-decoration: none;
  
}
    
.social{
  display: inline-flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 15px;
  width: 40%;
}

.inst,
.fb,
.twit,
.yout{
  border-radius: 30%;
  height: 30px;
}

.inst:hover,
.fb:hover,
.twit:hover,
.yout:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@media (max-width: 768px)
{
  .acac
  {
    display: none;
  }
  .social
  {
    margin-left: 70px;
    justify-content: space-around;

  }
}