.pic {
	background: linear-gradient(
		rgba(0, 0, 0, -1.3),
		rgba(0, 0, 0, -10.4)),    
			url('asset/foodsnack.jpg'); 
	height: 100vh;  
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*NAVBAR SECTION*/

* {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.555);
  }
  70% {
      -webkit-box-shadow: 0 0 0 2px rgb(255, 255, 255);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.555);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.555);
  }
  70% {
      -moz-box-shadow: 0 0 0 2px rgb(255, 255, 255);
      box-shadow: 0 0 0 2px rgb(255, 255, 255);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgb(255, 255, 255);
      box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
}

.cn-button {
	
	position: fixed;
	top: 4%;
	left: 50%;
	z-index: 11;
	margin-top: -2.25em;
	margin-left: -2.25em;
	padding-top: 0em;
	width: 4.5em;
	height: 4.5em;
	border-color: black;
	border-radius: 50%;
	background: url("https://image.noelshack.com/fichiers/2019/12/4/1553124843-logov2.png");
	background-size: cover;
	color: transparent;
	text-align: center;
	font-size: 1.4em;
	cursor: pointer;
	outline: none;
	backface-visibility: hidden;
	font-family: 'Josefin Sans', sans-serif;
	text-shadow: 0px 0px 10px;
	box-shadow: 0 0 0 rgb(0, 0, 0);
  animation: pulse 0.9s infinite;
}

.cn-button:hover {
	animation: none;
}

.csstransforms .cn-wrapper {
	position: fixed;
	top: -2%;
	left: 49%;
	z-index: 10;
	margin-top: -12em;
	margin-left: -13.5em;
	width: 28em;
	height: 27em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	-webkit-transition: all .3s ease 0.3s;
	-moz-transition: all .3s ease 0.3s;
	transition: all .3s ease 0.3s;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}

.csstransforms .cn-wrapper:after{
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
  color: transparent;
}

.csstransforms .opened-nav {
	border-radius: 50%;
	border: solid;
	border-color: white;
	opacity: 0.90;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
}


.csstransforms .cn-wrapper li {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
}

.csstransforms .cn-wrapper li a {
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	border: solid;
	background: black;
	background: -webkit-radial-gradient(transparent 35%, #000000 35%);
	background: -moz-radial-gradient(transparent 35%, #000000 35%);
	background: radial-gradient(transparent 35%, #000000 35%);
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
	line-height: 2;
	-webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
	-moz-transform: skew(-60deg) rotate(-75deg) scale(1);
	-ms-transform: skew(-60deg) rotate(-75deg) scale(1);
	transform: skew(-60deg) rotate(-75deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
	position: relative;
	top: 1.8em;
	display: block;
	font-size: .5em;
	font-weight: 700;
	text-transform: uppercase;
	transform: rotate(180deg);
	text-shadow: 0px 0px 20px;
	
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
	background: -webkit-radial-gradient(transparent 35%, #000000 35%);
	background: -moz-radial-gradient(transparent 35%, #000000 35%);
	background: radial-gradient(transparent 35%, #000000 35%);
}
.csstransforms .cn-wrapper li a:focus {
    position: fixed;
}

.csstransforms .opened-nav li {
	-webkit-transition: all .3s ease .3s;
	-moz-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
	-webkit-transform: rotate(-20deg) skew(60deg);
	-moz-transform: rotate(-20deg) skew(60deg);
	-ms-transform: rotate(-20deg) skew(60deg);
	transform: rotate(-29deg) skew(60deg);
	box-shadow: 1px 10px 10px;
	
}

.csstransforms .opened-nav li:nth-child(2) {
	-webkit-transform: rotate(12deg) skew(60deg);
	-moz-transform: rotate(12deg) skew(60deg);
	-ms-transform: rotate(12deg) skew(60deg);
	transform: rotate(179deg) skew(60deg);
	box-shadow: 1px 10px 10px;

}

.csstransforms .opened-nav  li:nth-child(3) {
	-webkit-transform: rotate(44deg) skew(60deg);
	-moz-transform: rotate(44deg) skew(60deg);
	-ms-transform: rotate(44deg) skew(60deg);
	transform: rotate(217deg) skew(60deg);
	box-shadow: 1px 10px 10px;

}

.csstransforms .opened-nav li:nth-child(4) {
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(255deg) skew(60deg);
	box-shadow: 1px 10px 10px;
	
}

.csstransforms .opened-nav li:nth-child(5) {
	-webkit-transform: rotate(108deg) skew(60deg);
	-moz-transform: rotate(108deg) skew(60deg);
	-ms-transform: rotate(108deg) skew(60deg);
	transform: rotate(-67deg) skew(60deg);
	box-shadow: 1px 10px 10px;

}

.csstransforms .opened-nav li:nth-child(6) {
	-webkit-transform: rotate(140deg) skew(60deg);
	-moz-transform: rotate(140deg) skew(60deg);
	-ms-transform: rotate(140deg) skew(60deg);
	transform: rotate(140deg) skew(60deg);
	box-shadow: 1px 10px 10px;

}

.csstransforms .opened-nav li:nth-child(7) {
	-webkit-transform: rotate(172deg) skew(60deg);
	-moz-transform: rotate(172deg) skew(60deg);
	-ms-transform: rotate(172deg) skew(60deg);
	transform: rotate(172deg) skew(60deg);
	box-shadow: 1px 10px 10px;

}

.no-csstransforms .cn-wrapper {
	overflow: hidden;
	margin: 10em auto;
	padding: .5em;
	text-align: center;
}

.no-csstransforms .cn-wrapper ul {
	display: inline-block;
}

.no-csstransforms .cn-wrapper li {
	float: left;
	width: 5em;
	height: 5em;
	background-color: #fff;
	text-align: center;
	font-size: 1em;
	line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
	background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a{
	background-color: #6F325C;
	color: #fff;
}

.no-csstransforms .cn-button {
	display: none;
}

@media only screen and (max-width: 620px) {
	.no-csstransforms li {
		width: 4em;
		height: 4em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 500px) {
	.no-ccstransforms .cn-wrapper {
		padding: .5em;
	}

	.no-csstransforms .cn-wrapper li {
		width: 4em;
		height: 4em;
		font-size: .9em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 480px) {
	.csstransforms .cn-wrapper {
		font-size: .68em;
	}

@keyframes fadeIn { 
	0% {opacity: 0;}
	100% {opacity: 1;}
	}    

	.cn-button {
	 font-size: 1em;
	}
}

@media only screen and (max-width:420px) {
	.no-csstransforms .cn-wrapper li {
		width: 100%;
		height: 3em;
		line-height: 3em;
	}
}



/*FOOTER SECTION*/



#foot{
  background-color: #000 !important;
  height: 60px;
  opacity: 0.95;
  width: 100%;
	z-index: 1;
	bottom: -46%;
}

.acac{
  display: inline-flex;
  font-size: 13px;
  justify-content: space-evenly;
  list-style-type: none;
	width: 50%;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
}

.leftfooter{
	color: white;
	text-decoration: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.leftfooter:hover{
  color: forestgreen;
  text-decoration: none;
  
}
    
.social{
  display: inline-flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding-top: 15px;
  width: 40%;
}

.inst,
.fb,
.twit,
.yout{
  border-radius: 30%;
  height: 30px;
}

.inst:hover,
.fb:hover,
.twit:hover,
.yout:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}


@media (max-width: 768px)
{
  .acac
  {
    display: none;
  }
  .social{
		display: flex;
		justify-content: space-between;
		left: auto;
		width: auto;
	}
	.inst,
	.fb,
	.twit,
	.yout{
		height: 35px;
	}
}

@media (max-width: 600px)
{
	.social{
		display: flex;
		justify-content: space-between;
		left: auto;
		width: auto;
	}
	.inst,
	.fb,
	.twit,
	.yout{
		height: 35px;
	}
}