.hauteur_menu{
    margin-top: 30px;
}

.marge_haute{
    margin-top: 90px;
}

.marge_basse{
    margin-bottom: 10px;
}

h1{
    font-size:6vw;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-size:3vw;
}

p{
    font-size:1vw;
}

.josefin{
    font-family: 'Josefin Sans', sans-serif;
}

.reduct_text{
    font-size:1vw;
}


.center_hn{
    text-align:center;
}

.center{
    text-align: center;
}

.top20{
    padding-top:20px;
}

.bottom20{
    padding-bottom:20px;
}

.lien:link{
    text-decoration:none;
    color:white;
}

.lien:visited{
    text-decoration:none;
    color:white;
}

.lien:hover{
    text-decoration:none;
    color:white;
}

.lien:active{
    text-decoration:none;
    color:white;
}

.zindex1{
    z-index: 1;
}

.fond{
    
    padding: 5px;
    border: 1px solid #000;
    /*background-color: white;*/
    background: rgba(0, 0, 0, 0.6);
    width: 100%;    
    border-radius: 15px;
    text-align: center;
   /* box-shadow: 5px 5px 2px #000;*/

   
  


}

/*------ CSS ALERT POPUP COOKIE ------*/

.cookies{
    text-align: center;    
}

#open_button{
    background-color: bisque;
    font-size: 10px;
    padding: 5px;
    border: 1px solid #000;
    cursor: pointer;
}

#open_button:hover{
    background-color: aquamwarine;
    font-size: 10px;
    padding: 5px;
    border: 1px solid #000;
    cursor: pointer;
}

#open_button_footer{
    color:  white;
}

#open_button_footer:hover{
    color: forestgreen;
    text-decoration: none;
}


#conteneur {    
    background-color: rgba(255, 250, 240);   
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    top:40%;
    transform: translateY(-50%);
    width: 100%;
    /*height: 100vh;*/    
}

#popup{
    position: fixed;/*popup reste fixe lors du scroll*/
    padding: 10px;
    border: 1px solid #000;
    background-color: white;
    width: 70%;    
    border-radius: 15px;
    text-align: justify;
    box-shadow: 5px 5px 2px #000;
}

/*--
#close_button{
    background-color: #343a40;
    color:white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

#close_button:hover{
    background-color: white;
    color:#343a40;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
}

#close_button:active{
    background-color: white;
    font-weight: 600;
    color:#343a40;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #000;
    cursor: pointer;
}
--*/

.closePopup{
    float: right;
    cursor: pointer;
}


/*------ CSS BUTTON ANIMATED POPUP COOKIE ------*/

#close_button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform : translate(-50%, -50%);
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: arial;
    background : #fff;
    border: 2px solid #262626;
    padding: 5px;
    overflow: hidden;
}

#close_button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.6);
    transition: .7s ease-in-out;
    z-index: -1;
}

#close_button:hover:before {
    left: 0;
    z-index: -1;
}

span {
    color: #262626;
    /*transition: .7s ease-in-out;*/
    z-index: 1;
}
#close_button:hover span {
    color: #fff;
}



