
h1,h2{
    text-align:center;    
}

h1{
    padding-top:20px;
}

h2{
    padding-bottom:20px;
}

a:link{
    text-decoration:none;
    color:white;
}

a:active{
    color:white;
}

a:visited{
    color:white;
}






